[submodule "results"]
	path = results
	url = https://github.com/xiexbing/decentralized-learning-framework
[submodule "summit-experiment"]
	path = summit-experiment
	url = https://code.ornl.gov/jqyin/ChocoSGD
[submodule "result"]
	path = result
	url = https://github.com/xiexbing/decentralized-learning-framework
